
<%# display the question %>
<h4>Question: <span><%= @question%></span></h4>
<%# display the answers %>
<h4>Answer:  <span><%= @answer%></span></h4>


<%# a link that goes back to the ask page. Do not forget to put _path %>
<%=link_to "Ask", ask_path %>



<%# er = <%  %>
<%# pe = <%=  %>
