<h2>Ask a Question to the <span>Stupid Coach</span></h2>

<%# the question bar %>
<div><form action="/answer">
  <label for="question">Here:</label>
  <%# placeholder disappear when you write the question %>
  <input type="text" name="question" placeholder= "write something" id="question" class="form-control form-input">
  <%# button is for bootstrap %>
  <input type="submit" value="Ask!" class="btn btn-primary">
</form></div>
